:root {
  --primary-text-color: #757575;
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --accent-color: #2196f3;
  --logo-header-color: #000000;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --hero-btn-focus-background-color: #188ce8;
  --icon-fill: #afb1b8;
  --footer-icon-background-color: #43444d;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
