.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}
.footer__flex-container {
  display: flex;
  align-items: baseline;
}
.footer__item:nth-child(1) {
  margin-right: 70px;
}
/* .footer-first-part {
  margin-right: 70px;
} */

.address {
  font-style: inherit;
}
.address__text {
  margin-bottom: 9px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.footer__contacts-list {
  @extend %list;
}
.footer__contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__second-part-text,
.footer__third-part-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-title-color);
}

.footer__third-part {
  margin-left: auto;
}

.sub-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-form__field {
  margin-right: 12px;
}
.sub-form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: inherit;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.sub-form__input,
.sub-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.sub-form__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  padding: 10px 28px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primary-title-color);

  background-color: var(--accent-color);
}
.sub-form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.social-list__icon_white {
  fill: currentColor;
}

.footer__contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);

  transition: color 250ms var(--timing-function);
  @extend %link;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.social-list__link_with-background-color {
  background-color: var(--footer-icon-background-color);
  color: var(--primary-title-color);
  transition: background-color 250ms var(--timing-function);
  &:focus,
  &:hover {
    background-color: var(--accent-color);
  }
}
