.our-clients-list {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.our-clients-item {
  // @media (max-width: 575px) {

  //   }
  @media (max-width: 767px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  // @media (min-width: 576px) {

  //   }
  @media (min-width: 768px) {
    flex-basis: calc((100% - 12 * 15px) / 3);
    margin: 15px;
  }

  // @media (min-width: 960px) {

  // }
  @media (min-width: 1200px) {
    flex-basis: calc((100% - 8 * 15px) / 6);
  }
}
.our-clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 170px;
  height: 92px;
  border: 1px solid var(--icon-fill);
  border-radius: 4px;
  color: var(--icon-fill);
  transition: border-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
  @extend %link;

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.our-clients-icon {
  fill: currentColor;
}
