.team {
  background-color: var(--team-background-color);
}

.team-list {
  @extend %list;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  // @media (max-width: 575px) {

  //   }
  @media (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  // @media (min-width: 576px) {

  //   }
  @media (min-width: 768px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  // @media (min-width: 960px) {

  // }
  @media (min-width: 1200px) {
    flex-basis: calc((100% - 8 * 15px) / 4);
  }
}

.team-item-description {
  padding-top: 30px;
  padding-bottom: 24px;

  padding: 30px 32px 24px;

  text-align: center;

  background-color: var(--primary-title-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  @media (min-width: 1200px) {
    padding-bottom: 30px;
  }
}
.team-item-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.team-item-text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

// по БЭМу

.social-list__link_without-background-color {
  color: var(--icon-fill);
  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--primary-title-color);
    background-color: var(--accent-color);
  }
}
.social-list__icon_grey {
  fill: currentColor;
}
