.modal-form-text {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-title-color);
}
.modal-form-wrapper {
  position: relative;
  display: block;
}
.modal-form-field {
  display: block;
  margin-bottom: 10px;
}

.form-field-textarea {
  margin-bottom: 20px;
}

.modal-form-element {
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms var(--timing-function);
}

.modal-form-input {
  height: 40px;
  padding: 11px 11px 11px 30px;
}
.modal-form-element:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-label {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal-form-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms var(--timing-function);
  .modal-form-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form-massage {
  height: 120px;
  padding: 12px 16px;

  resize: none;

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form-checkbox-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.modal-form-checkbox-link {
  color: var(--accent-color);
}
.modal-form-checkbox-icon {
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  border: 2px solid var(--secondary-title-color);
  border-radius: 2px;

  cursor: pointer;
  /* transition: border-color 250ms var(--timing-function); */
  .modal-form-checkbox:focus + & {
    border-color: var(--accent-color);
  }
  .modal-form-checkbox:checked + & {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url('../images/icon-modal-check.svg');
    background-size: cover;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.modal-form-button {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  padding: 10px 55px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--hero-btn-focus-background-color);
  }
}
